<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form #form="ngForm" (ngSubmit)="login(form.value)">
      <ion-item>
        <ion-label>Usuario</ion-label>
        <ion-input name="user" required ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sala</ion-label>
        <ion-input name="room" required ngModel></ion-input>
      </ion-item>
      <br />
      <ion-button type="submit" [disabled]="form.invalid">Ingresar</ion-button>
    </form>
  </div>
</ion-content>
